$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "bower_components/css-hamburgers/_sass/hamburgers/hamburgers.scss";
// endbower

html, body, main {
  height: 100%;
  width: 100%;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*nav, main {
  box-sizing: border-box;
}*/

.title {
  font-size: 2.5em;
  text-align: center;
  color: lightgreen;
}

nav {
  width: 320px;
  height: 100%;
  position: absolute;
  z-index: 1;
  transform: translate(-270px, 0);
  transition: transform 0.3s ease;
  display: flex;
  flex-wrap: nowrap;
}

nav.open {
  transform: translate(0, 0);
}

.list {
  width: 270px;
  border-radius: 25px;
  opacity: .8;
  background: black;
  padding-left: 5px;
  font-size: .5em;
}

.btn {
  width: 50px;
}

@media screen and (max-width: 350px) {
  .list {
    width: 250px;
  }
  nav {
    transform: translate(-250px, 0);
  }
}

@media screen and (min-width: 800px) {
  nav {
    position: relative;
    transform: translate(0, 0);
    padding-left: 15px;
  }
  body {
    display: flex;
    flex-flow: row nowrap;
  }
  main {
    flex-grow: 1;
  }
  .list {
    width: 320px;
  }

  .btn {
    display: none;
  }
}

.infoName {
  color: green;
}

.content {
  max-width: 300px;
}

.map-canvas {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

ul {
  list-style: none;
  padding: 0%;
}

